/*
    Author: Heesoo Lim
    Date: July 08, 2020
    Website Name: MidTerm Test
    File Name: app.css
    File Description: This is a CSS file of Single Page Application for MidTerm Test
*/

.navbar {
    opacity: 0.8;
}

#MainTitle {
    font-size: 4em;
    color: #5690CF;
    padding-top: 1em
}

main {
    padding-top: 4.375em
}

article, section {
    font-size: 1.35em;
}

#contactForm {
    margin-bottom: 4em;
}

html {
    scroll-behavior: smooth;
}